html {
	position: relative;
	min-height: 100%;
}
body {
	font-family:"Source Sans Pro", sans-serif;
	font-size:125%;
	font-weight:400;
	text-align:center;
	margin: 0 0 72px; 
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 72px;
	width: 100%;
}
#footer-container {
	display:table;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}
#footer-text {
	vertical-align:middle;
	display:table-cell;
	width:auto;
}
#form-container {
	display:inline-block;
	text-align:left;
	width:auto;
}
#title {
	font-size:400%;
	font-weight:300;
	margin-top:30px;
	margin-bottom:10px;
}
#warn-symbol {
	width:64px;
	height:64px;
	display:table-cell;
	vertical-align:middle;
}
.button {
	font-family:"Source Sans Pro", sans-serif;
	font-size:100%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:8px;
	padding-right:8px;
	color:#fff;
 	background-color:#347ec3;
	border-radius:4px;
	border-width:0px;
	outline:none;
	margin:0px;
}
.button:hover {
	background-color:#5292d1;
}
.button:active {
	background-color:#3372ac;
}
.row {
	margin-bottom:10px;
}
.row input {
	font-family: 'PT Mono', 'Courier New', 'Courier', monospace;
	margin-left:0px;
	padding-top:2px;
	padding-bottom:2px;
 	padding-left:6px;
	padding-right:6px;
	font-size:80%;
	border-radius:4px;
	border:1px solid #ccc;
	outline:none;
	width:100%;
}
.row input:focus {
	border:1px solid #ddd;
}
